.tableRow {
    overflow: auto;
}

.overflow-container {
    display: grid;
    grid-template-columns: 120px 2fr 1fr 150px;
    justify-content: stretch;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: min-content;
    color: white;
    cursor: pointer;
}

.tableRowDetails {
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.tableHeaderDetails {
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #4d3321;
    font-weight: 600;
}

.right-align {
    text-align: right;
}

@media (max-width: 700px) {
    .hide-when-narrow {
        display: none;
    }
    .overflow-container {
        grid-template-columns: 120px auto 150px;
    }
}

@media (max-width: 455px) {
    .hide-when-narrow {
        display: none;
    }
    .hide-when-tiny {
        display: none;
    }
    .overflow-container {
        grid-template-columns: auto 150px;
    }
}

@media (max-width: 336px) {
    .hide-when-narrow {
        display: none;
    }
    .hide-when-tiny {
        display: none;
    }
    .overflow-container {
        grid-template-columns: auto 150px;
    }
}
