.tableRow {
    display: flex;
    justify-content: space-between;
    background-color: var(--tm0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: min-content;
}

.tableRowLeft {
    display: flex;
    justify-content: flex-start;
}

.tableRowDetails {
    margin: 10px;
    white-space: pre;
    color: black;
}

@media (max-width: 480px) {
    .hide-when-narrow {
        display: none;
    }
}
