* {
    font-family: "Roboto";
    box-sizing: border-box;
}

body {
    background: #ececec;
}

.card,
.btn,
.form-control,
.alert {
    border-radius: 0;
}

.appleBar {
    align-items: center;
}

.navBar {
    height: 40px;
}

nav {
    padding: 0 !important;
}

.navIcon {
    height: 20px;
    margin-bottom: 3px;
}

.navItem {
    padding: 4px 0px;
    margin: 0px 15px;
    border-top: 5px solid transparent;
    border-bottom: 4px solid transparent;
    color: #ececec;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    transition: text-shadow 300ms ease-in-out;
}

.active {
    border-bottom: 4px solid #f8a66c;
}

#userEmail {
    font-weight: 600;
    padding: 4px 16px;
}

.dropdownItem {
    padding: 4px 16px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.dropdownItem:hover {
    background-color: #bedfff;
}

.card-body {
    background-color: #212830;
    color: #ececec;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.custom-button {
    background-color: #f8a66c;
    color: black;
    border-color: #dd762e;
    transition: all 300ms ease-in-out;
}

.custom-button:hover {
    background-color: #ffb886;
    border-color: #f8a66c;
    color: black;
}

.custom-button:active {
    background-color: #bd7a4a;
    border-color: #dd762e;
    color: black;
    box-shadow: none;
}

.custom-button:disabled {
    background-color: #bd7a4a;
    border-color: #dd762e;
    color: black;
    box-shadow: none;
}

.custom-button:focus {
    background-color: #bd7a4a;
    border-color: #dd762e;
    color: black;
    box-shadow: none;
}

a {
    color: #bedfff;
    transition: color 300ms ease-in-out;
}

a:hover {
    color: #7fc0ff;
}

.dark-text {
    color: black;
}

.dark-link {
    color: #ff6a00;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.mobile {
    display: none;
}

.nav-div {
    cursor: pointer;
}

@media (max-width: 767px) {
    .navIcon {
        display: none;
    }
    .mobile {
        display: inline;
    }
    .active {
        border-bottom: 4px solid transparent;
        text-shadow: 1px 1px 15px #687b94, 1px 1px 15px #687b94;
    }
    .active:hover {
        text-shadow: 1px 1px 15px #687b94, 1px 1px 15px #687b94;
    }
    .navItem:hover {
        text-shadow: 1px 1px 12px #687b94, 1px 1px 12px #687b94;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-toggler {
        border-radius: 0;
    }
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    button.navbar-toggler:focus {
        outline: 1px none;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0px;
    }
}

.body-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.body-margin {
    flex: 1 5 10vw;
}

.content {
    padding: 1em;
    margin: 0;
    display: block;
    flex-direction: row;
    color: white;
    background: #4b4b4b;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.content-title {
    font-weight: 600;
    border-bottom: 1px solid white;
    margin: 0;
    padding: 0.5em 1em;
    color: #ececec;
    background: #2d455d;
    display: block;
}

.body-title {
    font-weight: 100;
    font-size: 1.5em;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px auto 40px auto 40px auto;

    justify-content: stretch;
    align-content: center;
    flex: 0 1 800px;
}

.title-window {
    margin: 0.5em;
}

.dropdown-menu {
    right: 1%;
}
