:root {
    --bg1: #ececec; /* white */
    --bg2: #666666; /* md grey */
    --bg3: #4b4b4b; /* dark md grey */
    --bg4: #333333; /* dark grey */

    --em1: #ffb886; /* lt orange */
    --em2: #f8a66c; /* md orange */
    --em3: #dd762e; /* st orange */
    --em4: #ff6a00; /* hot orange */
    --em5: #bd7a4a; /* dk orange */
    --em6: #4d3321; /* brown */

    --tm1: #bedfff; /* baby blue */
    --tm2: #7fc0ff; /* sky blue */
    --tm3: #2d455d; /* lighter navy */
    --tm4: #212830; /* navy blue */

    --ac-green: #98ddca;
    --ac-red: #fea5ab;
}

* {
    font-family: "Roboto";
    box-sizing: border-box;
}

body {
    background: var(--bg1);
}

.card,
.btn,
.form-control,
.alert {
    border-radius: 0;
}

.navbar {
    justify-content: flex-start;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

nav {
    padding: 0 !important;
}

.navIcon {
    height: 20px;
    margin-bottom: 3px;
}

.navItem {
    padding: 4px 0px;
    margin: 0px 18px;
    border-top: 5px solid transparent;
    border-bottom: 4px solid transparent;
    color: var(--bg1);
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    transition: text-shadow 300ms ease-in-out;
}

.active {
    border-bottom: 4px solid var(--em2);
}

#userEmail {
    font-weight: 600;
    padding: 4px 16px;
}

.dropdownItem {
    padding: 4px 16px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.dropdownItem:hover {
    background-color: var(--tm1);
}

.card-body {
    background-color: var(--tm4);
    color: var(--bg1);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.custom-button {
    background-color: var(--em2);
    color: black;
    border-color: var(--em3);
    transition: all 300ms ease-in-out;
}

.custom-button:hover {
    background-color: var(--em1);
    border-color: var(--em2);
    color: black;
}

.custom-button:active {
    background-color: var(--em5);
    border-color: var(--em3);
    color: black;
    box-shadow: none;
}

.custom-button:disabled {
    background-color: var(--em5);
    border-color: var(--em3);
    color: black;
    box-shadow: none;
}

.custom-button:focus {
    background-color: var(--em5);
    border-color: var(--em3);
    color: black;
    box-shadow: none;
}

a {
    color: var(--tm1);
    transition: color 300ms ease-in-out;
}

a:hover {
    color: var(--tm2);
}

.dark-text {
    color: black;
}

.dark-link {
    color: var(--em4);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.mobile {
    display: none;
}

.nav-div {
    cursor: pointer;
}

.logo {
    margin-left: 1em;
    font-size: 1.2em;
    font-weight: 600;
    z-index: 1000;
    color: white;
    display: none;
}

@media (max-width: 767px) {
    /* Mobile */
    .navItem {
        font-weight: 400;
        padding: 0.25em 1em;
        margin: 0;
        border: none;
        background-color: var(--bg4);
        color: white;
    }

    .dropdown {
        background-color: var(--bg4);
    }
    .dropdown-toggle {
        padding: 0.25em 1em;
        transition: none;
    }
    .dropdown-toggle:hover {
        background-color: var(--bg2);
    }
    .dropdown-toggle:hover .drop {
        background-color: var(--bg2);
    }
    .navIcon {
        display: none;
    }
    .mobile {
        display: inline;
    }
    .active {
        border-bottom: 4px solid transparent;
        padding-bottom: 0px;
        background: var(--em2);
        color: var(--em5);
        font-weight: 600;
    }
    .navItem:hover {
        background-color: var(--bg2);
    }
    .active:hover {
        background-color: var(--em1);
        color: var(--em6);
    }
    .navbar-toggler {
        border-radius: 0;
        box-shadow: none;
        border: none;
    }
    .navbar-toggler:active {
        box-shadow: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .logo {
        display: inline;
        cursor: pointer;
    }
    [class~="drop"]:hover {
        background-color: inherit;
    }
}

@media (min-width: 768px) {
    /* Desktop */
    .appleBar {
        align-items: center;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0px;
    }
}

.body-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.body-margin {
    flex: 1 5 10vw;
}

.content {
    padding: 1em;
    margin: 0;
    display: block;
    flex-direction: row;
    color: white;
    background: var(--bg3);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.content-title {
    font-weight: 600;
    border-bottom: 1px solid white;
    margin: 0;
    padding: 0.5em 1em;
    color: var(--bg1);
    background: var(--tm3);
    display: block;
}

.body-title {
    font-weight: 100;
    font-size: 1.5em;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px auto 40px auto 40px auto;

    justify-content: stretch;
    align-content: center;
    flex: 0 1 800px;
}

.title-window {
    margin: 0.5em;
}

.dropdown-menu {
    right: 1%;
}
